# Dependencies
/node_modules
jspm_packages/
web_modules/
/.npm/
/.eslintcache
.npmrc
npm-debug.log
# Build/Coverage/Logs
logs
*.log
coverage/
.nyc_output
build/Release
dist/
.next/
.cache/

# Environment
.env
.env.development
.env.test
.env.production

